{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": [
    "*/dist/**.{ts,js}"
  ],
  "rules": {
    "no-console": "warn",
    "semi": "error",
    "quotes": [
      "error",
      "single"
    ],
    "@typescript-eslint/no-explicit-any": "off"
  }
}